<input type="text" >
<button>filter</button>
<table class="table">
    <thead>
        <tr>
            <th>createdAt</th>
            <th> account_name</th>
            <th> available_balance</th>
            <th>currency</th>
            <th>user_image</th>
            <th>account_number</th>
            <th>id</th>
           </tr>
           </thead>
           <tbody>
            <tr *ngFor="let bankaccount of bankaccounts">
                <td>{{bankaccount.createdAt}}</td>
                    <td>{{bankaccount. account_name}}</td>
                <td>{{bankaccount.  available_balance}}</td>
                <td>{{bankaccount.  currency}}</td>
                <td><img src="{{bankaccount. user_image}}"></td>
                <td>{{bankaccount. account_number}}</td>
                  <td>{{bankaccount.id}}</td>

            </tr>
           </tbody>





        
    
</table>
