.parent{
    height:100vh;
    width:100vw;
    display:flex;
    overflow: auto;
}
.child1{
    width:20%;
    height: 100%;
    background-color: wheat;
    overflow: auto;
}
.child2{
    overflow: auto;

    width: 80%;
    height: 100%;
    background-color:whitesmoke;
    overflow: auto;


}